<div id="<%= dom_id character %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Year:</strong>
    <%= character.year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Film:</strong>
    <%= character.film %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= character.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quote:</strong>
    <%= character.quote %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= character.rating %>
  </div>
</div>
